.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(195, 195, 195);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  padding: 0 50px;
  z-index: 999;
}
.logo-container{
  margin-left: 10px;
}
.logo-container h1{
  font-family: 'Times New Roman', Times, serif;
}
.header-right-section{
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.cart-button{
  font-size: 35px;
  margin-left:10px;
  position: relative;
  bottom: 0;
}
.cart-button span{
  font-size: 7px;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
#close{
  display: none;
}
.mobile{
  display: none;
}
.menu{
  margin: 0 10px;
  font-family: arial;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s linear;
}
.menu::after{
  content: '';
  background-color: gray;
  margin-top: 2px;
  height: 3px;
  width: 0px;
  display: block;
  border-radius: 10px;
  transition: width .2s linear;
}
.menu:hover::after{
  width: 40px;
}
.menu:hover{
  color: gray;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  box-shadow: 10px 10px 50px rgb(37, 37, 37);
  font-family: arial;
  background-color: rgb(192, 192, 192);
  bottom: 0;
}
.footer-left-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-left: 20px;
}
.footer-left-section h1{
  font-size: 75px;
  margin-top: 90px;
  font-family: 'Times New Roman', Times, serif;
}
.footer-left-section p{
  width: 250px;
  color: gray;
}

.footer-right-section h2{
  font-size: 42px;
  letter-spacing: 2px;
}
.footer-right-section{
  margin-left: 60px;
}
.footer-right-section p{
  font-size: 20px;
  margin-left: 25px;
  cursor:pointer;
}
.footer-right-section i{
  margin-left: 10px;
  font-size: 35px;
  cursor: pointer;
  transition: color .15s linear;
}
.footer-right-section i:hover{
  color: gray;
}
.footer-right-section .social-icon{
  margin: 40px 30px;
}
a{
  color: black;
  text-decoration: none;
}
i{
  border: none;
}
